body {

    background: #333333;
    color: #fff;
}

.navbar {
    opacity: 0.8;
    border-bottom:  3px solid #008ed6;
}

#head-section
{
    background: url(../img/looplab/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}
#head-section .home-inner 
{
    padding-top: 100px;
}

#head-section .dark-overlay {

    position: absolute;
    top:0;
    left:0;
    width: 100%;
     height: 700px;
    background: rgba(0, 0, 0,0.7);
}

#head-section .card-form
{
    opacity: 0.8;
}

#head-section .fas 
{
    color:#008ed6;
    background: #ffffff;
    border-radius: 5px;
}

#explore-section .fas
{
   background: #333;
   color: white;
   padding: 5px;
   border-radius: 5px;
}

#create-explore-section .fas
{
    background: white;
    color: #008ed6;
    border-radius: 5px;
}