img
{
    width: 100%;
    height: 100%;
}

div .bg-black
{
    color:white;
    background-color:#000000 !important; 
}

div #styleMenu
{
    width: 30%;
}

.port-item
{
    width: 30%;
}

.port-item:hover
{
    opacity: 0.8;
    cursor: pointer;
}

/* @media(min-width: 1199px)
{
    .port-item {
        padding: 3em !important;
    }
} */